@font-face {
font-family: logoFont;
src: url('../public/HandCraftedARegular.ttf');
}

@font-face {
  font-family: verdana;
  src: url('../public/Fonts/VerdanaPro-Regular.ttf')
}

@font-face {
  font-family: verdanaBold;
  src: url('../public/Fonts/Verdana-bold.ttf')
}

@media screen and (max-width: 600px){
  .about-text {
    height: 200vh;
  }

  .wrapper {
    margin: 0 auto;
  }

  .content-header {
    font-family: verdanaBold;
    font-size: 3rem;
    text-align: center;
  }

  .content-body {
    font-family: verdana;
    font-size: 2rem;
    text-align: center;
    padding: 5px;
  }

  .content-body-about {
    font-family: verdana;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
  }

  .menu-item {
    font-size: 2rem;
    text-align: center;
    margin: 2vh;
  }

  .lime {
    text-align: center;
    margin: 2vh;
    font-size: 1.5rem;
  }

  .sides {
    font-size: 2.5rem;
    text-align: center;
    margin: 2vh;
  }
  .item-description {
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    padding: 2vw;
  }

  .logo {
    background-color: #a6dfce;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

  .slider {
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }
    
  .slides {
    display: flex;
    flex-direction: row;
    width: 400%;
    animation: slide 14s ease-in infinite;
  }
    
  .slide img {
    width: 100vw;
    height: 100%;
  }
    
  @keyframes slide {
    0% { margin-left: 0;}
    21% {margin-left: 0;}
    25% {margin-left: -100%;}
    46% {margin-left: -100%;}
    50% {margin-left: -200%;}
    71% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: 0;}
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .one {

  }

  .two {
    background-color: #d6a242;
  }

  .three {
    background-color: #d6a242;
  }

  .image {
    width: 100vw;
  }
}