@font-face {
font-family: logoFont;
src: url('../public/HandCraftedARegular.ttf');
}

@font-face {
  font-family: verdana;
  src: url('../public/Fonts/VerdanaPro-Regular.ttf')
}

@font-face {
  font-family: verdanaBold;
  src: url('../public/Fonts/Verdana-bold.ttf')
}

@media screen and (max-width: 600px){
  .about-text {
    height: 200vh;
  }

  .wrapper {
    margin: 0 auto;
  }

  .content-header {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    padding: 2vh;
  }

  .content-header-taco {
    font-family: verdanaBold;
    font-size: 2.7rem;
    text-align: center;
    padding: 2vh;
  }  

  .content-body {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2vh;
  }

  .content-body-taco {
    width: 80vw;
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2vh;
  }

  .social-wrapper {
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
    padding: 2vh;
  }

  .social {
    width: 10vw;
    height: 10vw;
  }

  .content-body-about {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
    width: 90vw;
    padding-bottom: 5vw;
  }

  .content-header-menu {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    padding: 2vh;
    text-decoration: underline;
  }

  .menu-item {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2vh;
    padding: 2vh;
    font-family: verdanaBold;
  }

  .menu-wrapper {
    width: 90vw
  }

  .lime {
    text-align: center;
    margin: 4vh;
    font-size: 1.5rem;
    font-style: italic;
  }

  .sides {
    text-align: center;
    text-decoration: underline;
  }
  .item-description {
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    
  }

  .logo-wrapper {
    background-color: #a6dfce;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

  .logo {

    width: 100%;
  }

  .slider {
    padding-top: 2vh;
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }
    
  .slides {
    display: flex;
    flex-direction: row;
    width: 400%;
    animation: slide 14s ease-in infinite;
  }
    
  .slide img {
    width: 100vw;
    height: 100%;
  }
    
  @keyframes slide {
    0% { margin-left: 0;}
    21% {margin-left: 0;}
    25% {margin-left: -100%;}
    46% {margin-left: -100%;}
    50% {margin-left: -200%;}
    71% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: 0;}
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu {
    background-color: rgb(72, 82, 217);
    color: white;
    border-top: rgb(183, 68, 61) solid 5px;
    border-bottom: rgb(183, 68, 61) solid 5px;
  }

  .about {
    background-color: rgb(147, 191, 190);
    color: white;
    border-top: rgb(183, 68, 61) solid 5px;
  }

  .catering {
    background-color: rgb(52, 82, 155);
    color: white;
  }

  .cater-wrapper {
    width: 90vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .image {
    width: 100vw;
  }

  .zoe-wrapper {
    display: flex;
    justify-content: center;
  }

  .zoe-content {
    border-top: rgb(183, 68, 61) solid 5px;
    color: white;
  }

  .zoe {
    margin-top: 2vh;
    width: 90vw;
  }
}