

@font-face {
font-family: logoFont;
src: url('../public/Fonts/HandCraftedARegular.ttf');
}

@font-face {
  font-family: verdana;
  src: url('../public/Fonts/VerdanaPro-Regular.ttf')
}

@font-face {
  font-family: verdanaBold;
  src: url('../public/Fonts/Verdana-bold.ttf')
}

.content-header-chef {
  color: #d4443d;
}

.wrapper{
  background-image: url('./images/Background_with_color.jpeg');
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom {
  margin-bottom: 0%;
}

.insta {
  margin-bottom: 5%;
  margin-top: 2%;
}

.insta-link {
  text-decoration: none;
  color: white;
}

/* MOBILE-S */
@media screen and (max-width: 320px){
  .parallax {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .truck-img {
    width: 100vw;
    height: auto;
  }

  .traviesas-content{
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .content-header-catering{
    font-family: verdanaBold;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .catering-content{
    text-align: center;
    font-style: italic;
    margin-bottom: 5%;
  }

  .chef-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  .circle {
    width: 10px;
    height: 10px;
    background-color: #d4443d;
    border-radius: 50%;
  }

  .menu {
    color: white;
    text-align: center;
  }

  .zoe-name {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    font-style: italic;
  }

  .circle-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    margin-left: 3%;
  }

  .overlay {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    max-height: 100px;
    max-width: 100px;
  }
  
  .overlay-bottom {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    max-height: 120px;
    max-width: 120px;
  }

  .overlay-bottom-large {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    max-height: 140px;
    max-width: 140px;
  }

  .overlay1{
    top:  0%;
    left: 0;
  }

  .overlay-image1{
    width: 220%;
    height: 220%;
    object-fit: cover;
    position: absolute;
    top: -120%;
    left: -80%;
  }

  .overlay2{
    top: 25%;
    right: -7%;
  }

  .overlay-image2{
    width: 180%;
    height: 180%;
    object-fit: cover;
    position: absolute;
    left: -50%;
    top: -30%;
  }

  .overlay3{
    bottom: -5%;
    left: -10%;
    width: 100px;
    height: 100px;
  }

  .overlay-image3{
    width: 250%;
    height: 250%;
    object-fit: cover;
    position: absolute;
    left: -100%;
    top: -80%;
  }

  .overlay4{
    top: 70%;
    right: -10%;
  }

  .overlay-image4{
    width: 120%;
    height: 120%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: -10%;
  }

  .overlay5{
    bottom: -40%;
    left: 20%;
  }

  .overlay-image5{
    width: 200%;
    height: 200%;
    object-fit: cover;
    position: absolute;
    left: -50%;
    top: -50%;
  }

  .overlay6{
    bottom: 0%;
    left: -13%;
  }

  .overlay-image6{
    width: 150%;
    height: 150%;
    rotate: calc(-20deg);
    object-fit: cover;
    position: absolute;
    left: 0%;
    top: 0%;
  }

  .content-header-chef{
    font-size: 1.3rem;
    font-weight: 700;
    font-style: bold;
    text-align: center;
  }

  .content-header {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    padding: 2vh;
  }

  .content-header-taco {
    font-family: verdanaBold;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 8%;
    max-width: 98%;
  }

  .content-header-about {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .content-body {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
  }

  .content-body-taco {
    width: 80vw;
    font-family: verdana;
    font-size: .7rem;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .social-wrapper {
    position: relative;
    display: flex;
    width: 90vw;
    justify-content: center;
  }

  .social {
    width: 10vw;
    height: 10vw;
    margin-top: 5%;
    margin-bottom: 10vh;
    margin-left: 10px;
    margin-right: 10px;
  }

  .content-body-about {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5%;
    font-style: italic;
    margin-top: 4%;
  }

  .section{
    margin-top: 30%;
  }

  .content-header-menu {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .menu-wrapper {
    margin-top: -50%;
    width: 90vw
  }

  .menu-content{
    font-style: italic;
    text-align: center;
  }

  .logo-wrapper {
    margin-top: 28%;
    background-blend-mode: multiply;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: relative;
  }

  .logo {
    width: 90%;
  }

  .slider {
    padding-top: 2vh;
    width: 90vw;
    height: 60%;
    overflow: hidden;
  }
    
  .slides {
    display: flex;
    flex-direction: row;
    width: 400%;
    height: 60%;
    animation: slide 14s ease-in infinite;
  }
    
  .slide img {
    width: 90vw;
    height: 60%;
    overflow:hidden;
    object-fit: cover;
  }
    
  @keyframes slide {
    0% { margin-left: 0;}
    21% {margin-left: 0;}
    25% {margin-left: -100%;}
    46% {margin-left: -100%;}
    50% {margin-left: -200%;}
    71% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: 0;}
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    background-color: #d4443d;
    color: white;
    border: none;
    width: 30%;
    font-size: 20px;
  }

  .about {
    color: white;
  }

  .catering {
    color: white;
    margin-top: 15%;
  }

  .cater-wrapper {
    width: 90vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(72, 82, 217);
    border: 5px solid white;
  }

  .cater-body {
    margin-bottom: 2vh;
  }

  .image {
    width: 100vw;
  }

  .zoe-wrapper {
    display: flex;
    justify-content: center;
  }

  .zoe-content {
    color: white;
    position: relative;
    margin-bottom: 30%;
  }

  .zoe {
    margin-top: 2vh;
    width: 90vw;
  }
}

/* MOBILE */
@media screen and (min-width: 321px) and (max-width: 489px){
  .parallax {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .truck-img {
    width: 100vw;
    height: auto;
    margin-top: 100px;
  }

  .traviesas-content{
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .content-header-catering{
    font-family: verdanaBold;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .catering-content{
    text-align: center;
    font-size: .8rem;
    font-style: italic;
    margin-bottom: 5%;
  }

  .chef-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  .circle {
    width: 10px;
    height: 10px;
    background-color: #d4443d;
    border-radius: 50%;
  }

  .menu {
    color: white;
    text-align: center;
  }

  .zoe-name {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 1%;
    font-style: italic;
  }

  .circle-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    margin-left: 3%;
  }

  .overlay {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 120px;
    width: 120px;
  }
  
  .overlay-bottom {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 120px;
    width: 120px;
  }

  .overlay-bottom-large {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 165px;
    width: 165px;
  }

  .overlay1{
    top: -10%;
    left: 0;
  }

  .overlay-image1{
    width: 220%;
    height: 220%;
    object-fit: cover;
    position: absolute;
    top: -120%;
    left: -80%;
  }

  .overlay2{
    top: 25%;
    right: -7%;
  }

  .overlay-image2{
    width: 180%;
    height: 180%;
    object-fit: cover;
    position: absolute;
    left: -50%;
    top: -30%;
  }

  .overlay3{
    bottom: -2%;
    left: -5%;
  }

  .overlay-image3{
    width: 250%;
    height: 250%;
    object-fit: cover;
    position: absolute;
    left: -100%;
    top: -80%;
  }

  .overlay4{
    top: 130px;
    right: -40px;
  }

  .overlay-image4{
    width: 120%;
    height: 120%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: -10%;
  }

  .overlay5{
    bottom: -40px;
    left: 60px;
  }

  .overlay-image5{
    width: 200%;
    height: 200%;
    object-fit: cover;
    position: absolute;
    left: -50%;
    top: -50%;
  }

  .overlay6{
    bottom: 20px;
    left: -50px;
  }

  .overlay-image6{
    width: 150%;
    height: 150%;
    rotate: calc(-20deg);
    object-fit: cover;
    position: absolute;
    left: 0%;
    top: -12%;
  }

  .content-header-chef{
    font-size: 1.3rem;
    font-weight: 700;
    font-style: bold;
    text-align: center;
  }

  .content-header {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    padding: 2vh;
  }

  .content-header-taco {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    margin-top: 8%;
  }

  .content-header-about {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .content-body {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
  }

  .content-body-taco {
    width: 80vw;
    font-family: verdana;
    font-size: .7rem;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .social-wrapper {
    position: relative;
    display: flex;
    width: 90vw;
    justify-content: center;
  }

  .social {
    width: 10vw;
    height: 10vw;
    margin-top: 5%;
    margin-bottom: 10vh;
    margin-left: 10px;
    margin-right: 10px;
  }

  .content-body-about {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5%;
    font-style: italic;
    margin-top: 4%;
  }

  .section{
    margin-top: 10%;
  }

  .content-header-menu {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .menu-wrapper {
    margin-top: -50%;
    width: 90vw
  }

  .menu-content{
    font-style: italic;
    text-align: center;
  }

  .logo-wrapper {
    margin-top: 28%;
    background-blend-mode: multiply;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: relative;
  }

  .logo {
    max-width: 90%;
  }

  .slider {
    padding-top: 2vh;
    width: 90vw;
    height: 60%;
    overflow: hidden;
  }
    
  .slides {
    display: flex;
    flex-direction: row;
    width: 400%;
    height: 60%;
    animation: slide 14s ease-in infinite;
  }
    
  .slide img {
    width: 90vw;
    height: 60%;
    overflow:hidden;
    object-fit: cover;
  }
    
  @keyframes slide {
    0% { margin-left: 0;}
    21% {margin-left: 0;}
    25% {margin-left: -100%;}
    46% {margin-left: -100%;}
    50% {margin-left: -200%;}
    71% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: 0;}
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    background-color: #d4443d;
    color: white;
    border: none;
    width: 30%;
    font-size: 20px;
  }

  .about {
    color: white;
  }

  .catering {
    color: white;
    margin-top: 6%;
  }

  .cater-wrapper {
    width: 90vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(72, 82, 217);
    border: 5px solid white;
  }

  .cater-body {
    margin-bottom: 2vh;
  }

  .image {
    width: 100vw;
  }

  .zoe-wrapper {
    display: flex;
    justify-content: center;
  }

  .zoe-content {
    color: white;
    position: relative;
    margin-bottom: 11%;
  }

  .zoe {
    margin-top: 2vh;
    width: 90vw;
  }
}

/* TABLET */
@media screen and (min-width: 490px) and (max-width: 768px){
  .parallax {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .truck-img {
    width: 100vw;
    height: auto;
    margin-top: 250px;
  }
  
    .traviesas-content{
      margin-top: 5%;
    }

  .inner-wrapper{
    width: 80%;
  }
  .content-header-catering{
    font-family: verdanaBold;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .catering-content{
    text-align: center;
    font-style: italic;
    margin-bottom: 5%;
    font-size: .7rem;
  }

  .chef-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .circle {
    width: 10px;
    height: 10px;
    background-color: #d4443d;
    border-radius: 50%;
  }

  .menu {
    color: white;
    text-align: center;
    margin-top: 10%;
  }

  .zoe-name {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 1%;
    font-style: italic;
  }

  .circle-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    margin-left: 3%;
  }

  .overlay {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 160px;
    width: 160px;
  }
  
  .overlay-bottom {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 180px;
    width: 180px;
  }

  .overlay-bottom-large {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
  }

  .overlay1{
    top: -50px;
    left: -75px;
  }

  .overlay-image1{
    width: 200%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -243px;
    left: -107px;
  }

  .overlay2{
    top: 100px;
    right: -64px;
  }

  .overlay-image2{
    width: 125%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: -25px;
    top: -50px;
  }

  .overlay3{
    bottom: 0px;
    left: -75px;
  }

  .overlay-image3{
    width: 250%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: -150px;
    top: -200px;
  }

  .overlay4{
    top: 0px;
    right: -82px;
  }

  .overlay-image4{
    width: 120%;
    height: 120%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: -10%;
  }

  .overlay5{
    bottom: -55px;
    left: 50px;
  }

  .overlay-image5{
    width: 200%;
    height: 200%;
    object-fit: cover;
    position: absolute;
    left: -50%;
    top: -50%;
  }

  .overlay6{
    bottom: 72px;
    left: -105px;
  }

  .overlay-image6{
    width: 150%;
    height: 150%;
    rotate: calc(-20deg);
    object-fit: cover;
    position: absolute;
    left: 0%;
    top: -10%;
  }

  .content-header-chef{
    font-size: 1.3rem;
    font-weight: 700;
    font-style: bold;
    text-align: center;
  }

  .content-header {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    padding: 2vh;
  }

  .content-header-taco {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    margin-top: -10%;
  }

  .content-header-about {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .content-body {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
  }

  .content-body-taco {
    width: 80vw;
    font-family: verdana;
    font-size: .7rem;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .social-wrapper {
    position: relative;
    display: flex;
    width: 90vw;
    justify-content: center;
  }

  .social {
    width: 10vw;
    height: 10vw;
    margin-top: 5%;
    margin-bottom: 10vh;
    margin-left: 10px;
    margin-right: 10px;
  }

  .content-body-about {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
    font-style: italic;
  }

  .section{
    margin-top: 20%;
  }

  .content-header-menu {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .menu-wrapper {
    margin-top: -35%;
    width: 90vw
  }

  .menu-content{
    font-style: italic;
    text-align: center;
  }

  .logo-wrapper {
    margin-top: 22%;
    background-blend-mode: multiply;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: relative;
  }

  .logo {
    width: 80%;
  }

  .slider {
    padding-top: 2vh;
    width: 80vw;
    height: 60%;
    overflow: hidden;
  }
    
  .slides {
    display: flex;
    flex-direction: row;
    width: 400%;
    height: auto;
    animation: slide 14s ease-in infinite;
  }
    
  .slide img {
    width: 80vw;
    height: 60%;
    overflow:hidden;
    object-fit: cover;
  }
    
  @keyframes slide {
    0% { margin-left: 0;}
    21% {margin-left: 0;}
    25% {margin-left: -100%;}
    46% {margin-left: -100%;}
    50% {margin-left: -200%;}
    71% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: 0;}
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    background-color: #d4443d;
    color: white;
    border: none;
    width: 30%;
    font-size: 20px;
  }

  .about {
    color: white;
  }

  .catering {
    color: white;
    width: 100%;
  }

  .cater-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(72, 82, 217);
    border: 5px solid white;
  }

  .cater-body {
    margin-bottom: 2vh;
  }

  .image {
    width: 100vw;
  }

  .zoe-wrapper {
    display: flex;
    justify-content: center;
  }

  .zoe-content {
    color: white;
    position: relative;
    margin-bottom: 10%;
  }

  .zoe {
    margin-top: 10%;
    width: 90vw;
  }
}

/* LAPTOP */
@media screen and (min-width: 769px) and (max-width: 1024px){
  .parallax {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .truck-img {
    width: 80vw;
    height: auto;
    margin-top: 200px;
  }
  
    .traviesas-content{
      margin-top: 5%;
      padding-right: 5%;
      padding-left: 5%;
      margin-bottom: 10%;
    }

  .content-header-catering{
    font-family: verdanaBold;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .catering-content{
    text-align: center;
    font-style: italic;
    margin-bottom: 5%;
  }

  .chef-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .circle {
    width: 10px;
    height: 10px;
    background-color: #d4443d;
    border-radius: 50%;
  }

  .menu {
    color: white;
    text-align: center;
  }

  .zoe-name {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 1%;
    font-style: italic;
  }

  .circle-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    margin-left: 3%;
  }

  .overlay {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
  }
  
  .overlay-bottom {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 250px;
    width: 250px;
  }

  .overlay-bottom-large {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 165px;
    width: 165px;
  }

  .overlay1{
    top: -88px;
    left: -13px;
  }

  .overlay-image1{
    width: 150%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -183px;
    left: -70px;
  }

  .overlay2{
    top: 25%;
    right: 3%;
  }

  .overlay-image2{
    width: 110%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: -37px;
  }

  .overlay3 {
    bottom: 10px;
    left: -47px;
}

  .overlay-image3{
    width: 200%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: -136px;
    top: -210px;
  }

  .overlay4{
    top: 70%;
    right: -10%;
  }

  .overlay-image4{
    width: 120%;
    height: 120%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: -10%;
  }

  .overlay5{
    bottom: -70%;
    left: 20%;
  }

  .overlay-image5{
    width: 200%;
    height: 200%;
    object-fit: cover;
    position: absolute;
    left: -50%;
    top: -50%;
  }

  .overlay6{
    bottom: 0%;
    left: -13%;
  }

  .overlay-image6{
    width: 150%;
    height: 150%;
    rotate: calc(-20deg);
    object-fit: cover;
    position: absolute;
    left: 0%;
    top: -10%;
  }

  .content-header-chef{
    font-size: 1.3rem;
    font-weight: 700;
    font-style: bold;
    text-align: center;
  }

  .content-header {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    padding: 2vh;
  }

  .content-header-taco {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    margin-top: -10%;
  }

  .content-header-about {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .content-body {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
  }

  .content-body-taco {
    width: 80vw;
    font-family: verdana;
    font-size: .7rem;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .social-wrapper {
    position: relative;
    display: flex;
    width: 90vw;
    justify-content: center;
  }

  .social {
    width: 10vw;
    height: 10vw;
    margin-top: 5%;
    margin-bottom: 10vh;
    margin-left: 10px;
    margin-right: 10px;
  }

  .content-body-about {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
    width: 90%;
    font-style: italic;
  }

  .section{
    margin-top: 20%;
  }

  .content-header-menu {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
  }

  .menu-wrapper {
    margin-top: -30%;
    width: 90vw
  }

  .menu-content{
    font-style: italic;
    text-align: center;
  }

  .logo-wrapper {
    margin-top: 20%;
    background-blend-mode: multiply;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: relative;
  }

  .logo {
    width: 60%;
  }

  .slider {
    padding-top: 2vh;
    width: 60vw;
    height: 60%;
    overflow: hidden;
  }

  .slides {
    display: flex;
    flex-direction: row;
    width: 240vw;
    height: 60%;
    animation: slide 14s ease-in infinite;
  }

  .slide {
    max-width: 60vw;
  }
    
    
  .slide img {
    width: 60vw;
    height: 60%;
    overflow:hidden;
    object-fit: cover;
  }
    
  @keyframes slide {
    0% { margin-left: 0;}
    21% {margin-left: 0;}
    25% {margin-left: -100%;}
    46% {margin-left: -100%;}
    50% {margin-left: -200%;}
    71% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: 0;}
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    background-color: #d4443d;
    color: white;
    border: none;
    width: 30%;
    font-size: 20px;
  }

  .about {
    color: white;
  }

  .catering {
    color: white;
    margin-top: 8%;
    width: 60%
  }

  .cater-wrapper {
    width: 60vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(72, 82, 217);
    border: 5px solid white;
  }

  .cater-body {
    margin-bottom: 2vh;
  }

  .image {
    width: 100vw;
  }

  .zoe-wrapper {
    display: flex;
    justify-content: center;
  }

  .zoe-content {
    color: white;
    position: relative;
    margin-bottom: 18%;
  }

  .zoe {
    margin-top: 2vh;
    width: 90vw;
  }

  .inner-wrapper {
    width: 80%;
  }
}

/* DESKTOP */
@media screen and (min-width: 1025px) and (max-width: 1440px){
  .parallax {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .truck-img {
    margin-top: 250px;
    width: 70vw;
    height: auto;
  }
  
    .traviesas-content{
      padding-right: 5%;
      padding-left: 5%;
      margin-bottom: 10%;
      margin-top: 5%;
    }

  .content-header-catering{
    font-family: verdanaBold;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .catering-content{
    text-align: center;
    font-style: italic;
    margin-bottom: 5%;
  }

  .chef-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  .circle {
    width: 10px;
    height: 10px;
    background-color: #d4443d;
    border-radius: 50%;
  }

  .menu {
    color: white;
    text-align: center;
  }

  .zoe-name {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    margin-bottom: 1%;
    font-style: italic;
  }

  .circle-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    margin-left: 3%;
  }

  .overlay {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
  }
  
  .overlay-bottom {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 250px;
    width: 250px;
  }

  .overlay-bottom-large {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 165px;
    width: 165px;
  }

  .overlay1{
    top: -11%;
    left: 11%;
  }

  .overlay-image1{
    width: 150%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -168px;
    left: -77px;
  }

  .overlay2{
    top: 25%;
    right: 9%;
  }

  .overlay-image2{
    width: 125%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: -23px;
    top: -26px;
  }

  .overlay3 {
    bottom: 1%;
    left: -2%;
}

  .overlay-image3{
    width: 200%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: -140px;
    top: -210px;
  }

  .overlay4{
    top: 14px;
    right: 30px;
  }

  .overlay-image4{
    width: 120%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -14px;
    left: -25px;
  }

  .overlay5{
    bottom: -55px;
    left: 154px;
  }

  .overlay-image5{
    width: 175%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: -64px;
    top: -85px;
  }

  .overlay6{
    bottom: 106px;
    left: -30px;
  }

  .overlay-image6{
    width: 150%;
    height: auto;
    rotate: calc(-20deg);
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: -50px;
  }

  .content-header-chef{
    font-size: 1.3rem;
    font-weight: 700;
    font-style: bold;
    text-align: center;
  }

  .content-header {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    padding: 2vh;
  }

  .content-header-taco {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    margin-top: -10%;
  }

  .content-header-about {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .content-body {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
  }

  .content-body-taco {
    width: 80vw;
    font-family: verdana;
    font-size: .7rem;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .social-wrapper {
    position: relative;
    display: flex;
    width: 90vw;
    justify-content: center;
  }

  .social {
    width: 10vw;
    height: 10vw;
    margin-top: 5%;
    margin-bottom: 10vh;
    margin-left: 10px;
    margin-right: 10px;
  }

  .content-body-about {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
    width: 90%;
    margin-bottom: 5%;
    font-style: italic;
  }

  .section{
    margin-top: 20%;
  }

  .content-header-menu {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .menu-wrapper {
    margin-top: -35%;
    width: 90vw
  }

  .menu-content{
    font-style: italic;
    text-align: center;
  }

  .logo-wrapper {
    margin-top: 18%;
    background-blend-mode: multiply;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: relative;
  }

  .logo {
    width: 60%;
  }

  .slider {
    padding-top: 2vh;
    width: 60vw;
    height: 60%;
    overflow: hidden;
  }

  .slides {
    display: flex;
    flex-direction: row;
    width: 240vw;
    height: 60%;
    animation: slide 14s ease-in infinite;
  }

  .slide {
    max-width: 60vw;
  }
    
    
  .slide img {
    width: 60vw;
    height: 60%;
    overflow:hidden;
    object-fit: cover;
  }
    
  @keyframes slide {
    0% { margin-left: 0;}
    21% {margin-left: 0;}
    25% {margin-left: -100%;}
    46% {margin-left: -100%;}
    50% {margin-left: -200%;}
    71% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: 0;}
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    background-color: #d4443d;
    color: white;
    border: none;
    width: 30%;
    font-size: 20px;
  }

  .about {
    color: white;
    margin-top: 4%;
    width: 80%;
  }

  .catering {
    color: white;
    width: 50%;
  }

  .cater-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(72, 82, 217);
    border: 5px solid white;
  }

  .cater-body {
    margin-bottom: 2vh;
  }

  .image {
    width: 100vw;
  }

  .zoe-wrapper {
    display: flex;
    justify-content: center;
  }

  .zoe-content {
    color: white;
    position: relative;
    margin-bottom: 6%;
  }

  .zoe {
    margin-top: 2vh;
    width: 90vw;
  }

  .inner-wrapper {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .truck-img {
    margin-top: 450px;
  }
}

/* DESKTOP-L */
@media screen and (min-width: 1440px){
  .parallax {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .truck-img {
    margin-top: 250px;
    width: 50vw;
    height: auto;
  }
  
    .traviesas-content{
      padding-right: 5%;
      padding-left: 5%;
      margin-bottom: 5%;
      font-size: 1.4rem;
    }

    .bottom {
      margin-bottom: 0%;
    }

  .content-header-catering{
    font-family: verdanaBold;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .catering-content{
    text-align: center;
    font-style: italic;
    margin-bottom: 5%;
  }

  .chef-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  .circle {
    width: 10px;
    height: 10px;
    background-color: #d4443d;
    border-radius: 50%;
  }

  .menu {
    color: white;
    text-align: center;
    margin-top: 0%;
  }

  .zoe-name {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5%;
    font-style: bold;
    text-align: center;
    font-style: italic;
  }

  .circle-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    margin-left: 3%;
  }

  .overlay {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 250px;
    width: 250px;
  }
  
  .overlay-bottom {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 250px;
    width: 250px;
  }

  .overlay-bottom-large {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 250px;
    width: 250px;
  }

  .overlay1{
    top: -130px;
    left: 112px;
  }

  .overlay-image1{
    width: 150%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -239px;
    left: -84px;
  }

  .overlay2{
    top: 25%;
    right: 9%;
  }

  .overlay-image2{
    width: 110%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: -20px;
  }

  .overlay3 {
    bottom: 1%;
    left: 7%;
}

  .overlay-image3{
    width: 241%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: -178px;
    top: -277px
  }

  .overlay4{
    top: -100px;
    right: 90px;
  }

  .overlay-image4{
    width: 120%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -50px;
    left: -20px
  }

  .overlay5{
    bottom: -98px;
    left: 196px;
  }

  .overlay-image5{
    width: 156%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: -59px;
    top: -91px;
  }

  .overlay6{
    bottom: 140px;
    left: -20px;
  }

  .overlay-image6{
    width: 150%;
    height: auto;
    rotate: calc(-20deg);
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: -97px;
  }

  .content-header-chef{
    font-size: 2.3rem;
    font-weight: 700;
    font-style: bold;
    text-align: center;
  }

  .content-header {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    padding: 2vh;
  }

  .content-header-taco {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    margin-top: -10%;
  }

  .content-header-about {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .content-body {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
  }

  .content-body-taco {
    width: 80vw;
    font-family: verdana;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .social-wrapper {
    position: relative;
    display: flex;
    width: 90vw;
    justify-content: center;
  }

  .social {
    width: 5vw;
    height: auto;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .content-body-about {
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5%;
    font-style: italic;
  }

  .section{
    margin-top: 20%;
  }

  .content-header-menu {
    font-family: verdanaBold;
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .menu-wrapper {
    margin-top: -23%;
    width: 90vw;
    font-size: 2rem;
  }

  .menu-content{
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
  }

  .logo-wrapper {
    margin-top: 18%;
    background-blend-mode: multiply;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: relative;
  }

  .logo {
    width: 60%;
  }

  .slider {
    padding-top: 2vh;
    width: 40vw;
    height: 60%;
    overflow: hidden;
  }

  .slides {
    display: flex;
    flex-direction: row;
    width: 160vw;
    height: 60%;
    animation: slide 14s ease-in infinite;
  }

  .slide {
    max-width: 40vw;
  }
    
    
  .slide img {
    width: 40vw;
    height: 60%;
    overflow:hidden;
    object-fit: cover;
  }
    
  @keyframes slide {
    0% { margin-left: 0;}
    21% {margin-left: 0;}
    25% {margin-left: -100%;}
    46% {margin-left: -100%;}
    50% {margin-left: -200%;}
    71% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: 0;}
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    background-color: #d4443d;
    color: white;
    border: none;
    width: 30%;
    font-size: 20px;
  }

  .about {
    color: white;
    margin-top: 4%;
    width: 60%;
  }

  .catering {
    color: white;
    width: 50%;
  }

  .cater-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(72, 82, 217);
    border: 5px solid white;
  }

  .cater-body {
    margin-bottom: 2vh;
  }

  .image {
    width: 100vw;
  }

  .zoe-wrapper {
    display: flex;
    justify-content: center;
  }

  .zoe-content {
    color: white;
    position: relative;
    margin-bottom: 3%;
  }

  .zoe {
    margin-top: 2vh;
    width: 90vw;
  }

  .inner-wrapper {
    width: 80%;
  }
}

.bottom {
  margin-bottom: 0%;
}

@media screen and (min-width: 1600px) {
  .truck-img {
    margin-top: 450px;
  }
}

@media screen and (min-width: 1920px) {
  .truck-img {
    margin-top: 550px;
  }
}

@media screen and (min-width: 2560px) {
  .truck-img {
    margin-top: 650px;
  }
}