@media screen and (max-width: 529px){
    .contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name-input{
        width: 90%;
        margin-bottom: 2%;
    }

    .email-input{
        width: 90%;
        margin-bottom: 2%;
    }

    .message-input{
        width: 90%;
        height: 10vh;
        margin-bottom: 2%;
    }
}