.footer {
    height: 10vh;
    background-color: #d6a242;
    border-top: .5vh solid;
    border-color: #e03931;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* position: fixed;
    bottom: 0; */
    width: 100vw;
}

.social {
    color: #e03931;
    font-family: logoFont;
    font-size: 2rem;
    text-shadow: 1.5px 1.5px black;
}