.footer {
    height: 10vh;
    border-top: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    color: white;
    font-style: italic;
}