.header-wrapper {
    width: 100vw;
    height: 100%;
}

a {
  text-decoration: none;
}

.header {
    opacity: 0; /* Initially set the opacity to 0 */
    transition: opacity 0.5s ease; /* Apply a transition to the opacity property over 0.5 seconds */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    z-index: 98;
  }
  
  .header.fade-in {
    opacity: 1; /* Change the opacity to 1 to make it fully visible */
  }

  body {
    background-image: url('./images/background.jpg')
  }

  .header-wrapper {
    background-image: url('./images/background.jpg');
  }

  .overlay1 {
    z-index: 100;
  }

  .logo-wrapper {
    z-index: 99
  }
  /* DESKTOP */
@media screen and (min-width: 801px) { 
  .desktop-link {
    font-size: 1.6rem;
    font-family: logoFont;
    color: #d4443d;
    text-shadow: 1.5px 1.5px #d6a242;
  }

  .desktop {
    opacity: 1;
  }

  .non-side{
    display: none;
  }

  .sidebar {
    display: none;
  }

  .sidebar-contents {
    display: none;
  }

  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
  }

  .desktop-header-wrapper {
    width: 100vw;
  }
  
  body {
  }
  
  .construction-wrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 3rem;
    max-width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .construction-image {
    max-width: 100vw;
    max-height: 60vh;
    margin-bottom: 5vh;
    border-radius: 1vw;
  }

  .text {
    text-align: center;
    color:#d4443d;
    text-shadow: 1.5px 1.5px #d6a242;
    font-family: logoFont;
  }

  .show-it {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  .dont-show {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .side-image1 {
    max-width: 50vw;
  }

  .side-img {
    width: 100%;
  }

  .wrapper-1 {
    display: flex;
    flex-direction: row;
  }

  .truck-image {
    margin-top: 5vh;
    width: 40vw;
  }

  .menu-image {
    margin-top: 5vh;
    width: 40vw;
    margin-left: 5vw;
  }

  .truck-wrapper {
    display: flex;
  }

  .tortillas-image {
    margin-top: 5vh;
    max-width: 25vw;
    margin-left: 5vw;
    height: 100%;
  }

  .tortilla-blurb {
    font-size: 1.5rem;
    font-family: logoFont;
    margin-top: 5vh;
    color: #d4443d;
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 25vw;
    
  }

  .truck-blurb {
    font-size: 1.5rem;
    font-family: logoFont;
    margin-top: 5vh;
    color: #d4443d;
    margin-bottom: 5vh;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 30vw
  }

  .socials {
    font-size: 1.5rem;
    font-family: logoFont;
    margin-top: 1vh;
    color: #d4443d;
    margin-bottom: 5vh;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
  }

  .blurb-wrapper {
    background-image: url('https://res.cloudinary.com/dyjzfdguj/image/upload/v1684958371/tacos/IMG_1877_nznjfb.jpg');
    background-size: 100% 100%;
    height: 100vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vh;
  }

  .desktop-image-wrapper {
    margin-left: 12vw;
    margin-top: 5vh;
    max-height: 100vh;
    max-width: 25vw;
  }

  .desktop-image {
    width: 35vw;
    height: 50%;
  }

  .blurb {
    color: white;
    font-size: 2rem;
    font-style: bold;
    font-family: logoFont;
    padding: 1rem;
    
  }

  .top-div {
    display: flex;
    width: 100vw;
    margin-left: 13.5vw;
    
  }

  .desktop-wrapper {
    display: flex;
  }
}

  /* MOBILE */
  @media screen and (max-width: 529px) {
    .desktop-image {
      display: none;
    }
  
  .title {
      font-size: 24px;
      max-width: 63%;
    }
  
    .header-wrapper {
      min-width: 100vw;
      align-items: center;
      background-image: url('./images/background.jpg');
      display: flex;
      justify-content: center;
    }
  
    .truck-image {
      margin-top: 5vh;
      width: 100vw;
    }
  
    .tortillas-image {
      margin-top: 5vh;
      max-width: 100vw;
    }
  
    .tortilla-blurb {
      font-size: 1.5rem;
      font-family: logoFont;
      margin-top: 5vh;
      color: #d4443d;
      text-align: center;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  
    .truck-blurb {
      font-size: 1.5rem;
      font-family: logoFont;
      margin-top: 5vh;
      color: #d4443d;
      margin-bottom: 5vh;
      text-align: center;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  
    .socials {
      font-size: 1.5rem;
      font-family: logoFont;
      margin-top: 5vh;
      color: #d4443d;
      margin-bottom: 5vh;
      text-align: center;
      padding-right: 1rem;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
    }
  
    .blurb-wrapper {
      margin-top: 5vh;
      background-image: url('https://res.cloudinary.com/dyjzfdguj/image/upload/v1684958371/tacos/IMG_1877_nznjfb.jpg');
      background-size: 100% 100%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .blurb {
      color: white;
      font-size: 2rem;
      font-style: bold;
      font-family: logoFont;
      padding: 1rem;
    }
  
    .text {
      text-align: center;
      color:#d4443d;
      text-shadow: 1.5px 1.5px #d6a242;
      font-family: logoFont;
    }
  
    .desktop-image-wrapper {
      display: none;
    }
  
    .truck-wrapper {
      display: flex;
      flex-direction: column;
    }
    .menu-image {
      margin-top: 5vh;
      width: 100vw;
    }

    .desktop-link {
      display: none;
    }
  }
  



/* DESKTOP */
  @media screen and (min-width: 801px) { 
    .header-wrapper {
      background-image: url('./images/background.jpg');
    }

    .desktop-link {
      font-size: 1.6rem;
      font-family: logoFont;
      color: #d4443d;
      text-shadow: 1.5px 1.5px #d6a242;
    }

    .desktop {
      opacity: 1;
    }

    .non-side{
      display: none;
    }

    .sidebar {
      display: none;
    }

    .sidebar-contents {
      display: none;
    }

    .header-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 12vh;
    }

    .desktop-header-wrapper {
      width: 100vw;
    }
    
    body {
    }
    
    .construction-wrapper{
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .title {
      font-size: 3rem;
      max-width: 60vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      margin-bottom: 10%;
    }

    .construction-image {
      max-width: 100vw;
      max-height: 60vh;
      margin-bottom: 5vh;
      border-radius: 1vw;
    }
  
    .text {
      text-align: center;
      color:#d4443d;
      text-shadow: 1.5px 1.5px #d6a242;
      font-family: logoFont;
    }

    .show-it {
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }
    .dont-show {
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }
  
    .side-image1 {
      max-width: 50vw;
    }
  
    .side-img {
      width: 100%;
    }
  
    .wrapper-1 {
      display: flex;
      flex-direction: row;
    }
  
    .truck-image {
      margin-top: 5vh;
      width: 40vw;
    }
  
    .menu-image {
      margin-top: 5vh;
      width: 40vw;
      margin-left: 5vw;
    }
  
    .truck-wrapper {
      display: flex;
    }
  
    .tortillas-image {
      margin-top: 5vh;
      max-width: 25vw;
      margin-left: 5vw;
      height: 100%;
    }
  
    .tortilla-blurb {
      font-size: 1.5rem;
      font-family: logoFont;
      margin-top: 5vh;
      color: #d4443d;
      text-align: center;
      display: flex;
      align-items: center;
      padding-right: 1rem;
      padding-left: 1rem;
      width: 25vw;
      
    }
  
    .truck-blurb {
      font-size: 1.5rem;
      font-family: logoFont;
      margin-top: 5vh;
      color: #d4443d;
      margin-bottom: 5vh;
      text-align: center;
      padding-right: 1rem;
      padding-left: 1rem;
      width: 30vw
    }
  
    .socials {
      font-size: 1.5rem;
      font-family: logoFont;
      margin-top: 1vh;
      color: #d4443d;
      margin-bottom: 5vh;
      text-align: center;
      padding-right: 1rem;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
    }
  
    .blurb-wrapper {
      background-image: url('https://res.cloudinary.com/dyjzfdguj/image/upload/v1684958371/tacos/IMG_1877_nznjfb.jpg');
      background-size: 100% 100%;
      height: 100vh;
      width: 35vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 5vh;
    }
  
    .desktop-image-wrapper {
      margin-left: 12vw;
      margin-top: 5vh;
      max-height: 100vh;
      max-width: 25vw;
    }
  
    .desktop-image {
      width: 35vw;
      height: 50%;
    }
  
    .blurb {
      color: white;
      font-size: 2rem;
      font-style: bold;
      font-family: logoFont;
      padding: 1rem;
      
    }
  
    
  
    .top-div {
      display: flex;
      width: 100vw;
      margin-left: 13.5vw;
      
    }
  
    .desktop-wrapper {
      display: flex;
    }
  }
  
  /* TABLET */
  .desktop-image {
    display: none;
  }

.title {
    font-size: 2rem;
    max-width: 63%;
  }

  .header-wrapper {
    min-width: 100vw;
    align-items: center;
    background-image: url('./images/background.jpg');
    display: flex;
    justify-content: center;
  }

  .truck-image {
    margin-top: 5vh;
    width: 100vw;
  }

  .tortillas-image {
    margin-top: 5vh;
    max-width: 100vw;
  }

  .tortilla-blurb {
    font-size: 1.5rem;
    font-family: logoFont;
    margin-top: 5vh;
    color: #d4443d;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .truck-blurb {
    font-size: 1.5rem;
    font-family: logoFont;
    margin-top: 5vh;
    color: #d4443d;
    margin-bottom: 5vh;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .socials {
    font-size: 1.5rem;
    font-family: logoFont;
    margin-top: 5vh;
    color: #d4443d;
    margin-bottom: 5vh;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
  }

  .blurb-wrapper {
    margin-top: 5vh;
    background-image: url('https://res.cloudinary.com/dyjzfdguj/image/upload/v1684958371/tacos/IMG_1877_nznjfb.jpg');
    background-size: 100% 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .blurb {
    color: white;
    font-size: 2rem;
    font-style: bold;
    font-family: logoFont;
    padding: 1rem;
  }

  .text {
    text-align: center;
    color:#d4443d;
    text-shadow: 1.5px 1.5px #d6a242;
    font-family: logoFont;
  }

  .desktop-image-wrapper {
    display: none;
  }

  .truck-wrapper {
    display: flex;
    flex-direction: column;
  }
  .menu-image {
    margin-top: 5vh;
    width: 100vw;
  }

  .desktop-link {
    display: none;
  }