.header-wrapper {
    width: 100vw;
}

.header {
    opacity: 0; /* Initially set the opacity to 0 */
    transition: opacity 0.5s ease; /* Apply a transition to the opacity property over 0.5 seconds */
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #93bfbe;
  }
  
  .header.fade-in {
    opacity: 1; /* Change the opacity to 1 to make it fully visible */
  }

  @media screen and (max-width: 800px) {
    body {
      background-color: #93bfbe;
    }
    
  
    .desktop-image {
      display: none;
    }
  
  .title {
      font-size: 32px;
      max-width: 63vw;
      padding: 1rem;
    }
  
    .header-wrapper {
      padding-top: 1rem;
      min-width: 100vw;
      height: 7vh;
      align-items: center;
      background-color: #93bfbe;
      display: flex;
      justify-content: center;
    }
  
    .truck-image {
      margin-top: 5vh;
      width: 100vw;
    }
  
    .tortillas-image {
      margin-top: 5vh;
      max-width: 100vw;
    }
  
    .tortilla-blurb {
      font-size: 1.5rem;
      font-family: logoFont;
      margin-top: 5vh;
      color: #d0342c;
      text-align: center;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  
    .truck-blurb {
      font-size: 1.5rem;
      font-family: logoFont;
      margin-top: 5vh;
      color: #d0342c;
      margin-bottom: 5vh;
      text-align: center;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  
    .socials {
      font-size: 1.5rem;
      font-family: logoFont;
      margin-top: 5vh;
      color: #d0342c;
      margin-bottom: 5vh;
      text-align: center;
      padding-right: 1rem;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
    }
  
    .blurb-wrapper {
      margin-top: 5vh;
      background-image: url('https://res.cloudinary.com/dyjzfdguj/image/upload/v1684958371/tacos/IMG_1877_nznjfb.jpg');
      background-size: 100% 100%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .blurb {
      color: white;
      font-size: 2rem;
      font-style: bold;
      font-family: logoFont;
      padding: 1rem;
    }
  
    .text {
      text-align: center;
      color:#d0342c;
      text-shadow: 1.5px 1.5px #d6a242;
      font-family: logoFont;
    }
  
    .desktop-image-wrapper {
      display: none;
    }
  
    .truck-wrapper {
      display: flex;
      flex-direction: column;
    }
    .menu-image {
      margin-top: 5vh;
      width: 100vw;
    }

    .desktop-link {
      display: none;
    }
  }
  




  @media screen and (min-width: 801px) { 
    img {
      max-width: 100%;
    }

    .inner-wrapper {
      width: 100vw;
    }

    .desktop-link {
      font-size: 1.6rem;
      font-family: logoFont;
      color: #d0342c;
      text-shadow: 1.5px 1.5px #d6a242;
    }

    .desktop {
      opacity: 1;
    }

    .non-side{
      display: none;
    }

    .sidebar {
      display: none;
    }

    .sidebar-contents {
      display: none;
    }

    .header-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #93bfbe;
      align-items: center;
      height: 12vh;
    }

    .desktop-header-wrapper {
      width: 100vw;
      background-color: #93bfbe;
    }
    
    body {
      background-color: #93bfbe;
    }
    
    .construction-wrapper{
      width: 100vw;
      background-color: #93bfbe;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .title {
      font-size: 3rem;
      max-width: 60vw;
      background-color: #93bfbe;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1vh;
    }

    .construction-image {
      max-width: 100vw;
      max-height: 60vh;
      margin-bottom: 5vh;
      border-radius: 1vw;
    }
  
    .text {
      text-align: center;
      color:#d0342c;
      text-shadow: 1.5px 1.5px #d6a242;
      font-family: logoFont;
    }

    .show-it {
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }
    .dont-show {
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }
  
    .side-image1 {
      max-width: 50vw;
    }
  
    .side-img {
      width: 100%;
    }
  
    .wrapper-1 {
      display: flex;
      flex-direction: row;
    }
  
    .truck-image {
      margin-top: 5vh;
      width: 40vw;
    }
  
    .menu-image {
      margin-top: 5vh;
      width: 40vw;
      margin-left: 5vw;
    }
  
    .truck-wrapper {
      display: flex;
    }
  
    .tortillas-image {
      margin-top: 5vh;
      max-width: 25vw;
      margin-left: 5vw;
      height: 100%;
    }
  
    .tortilla-blurb {
      font-size: 1.5rem;
      font-family: logoFont;
      margin-top: 5vh;
      color: #d0342c;
      text-align: center;
      display: flex;
      align-items: center;
      padding-right: 1rem;
      padding-left: 1rem;
      width: 25vw;
      
    }
  
    .truck-blurb {
      font-size: 1.5rem;
      font-family: logoFont;
      margin-top: 5vh;
      color: #d0342c;
      margin-bottom: 5vh;
      text-align: center;
      padding-right: 1rem;
      padding-left: 1rem;
      width: 30vw
    }
  
    .socials {
      font-size: 1.5rem;
      font-family: logoFont;
      margin-top: 1vh;
      color: #d0342c;
      margin-bottom: 5vh;
      text-align: center;
      padding-right: 1rem;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
    }
  
    .blurb-wrapper {
      background-image: url('https://res.cloudinary.com/dyjzfdguj/image/upload/v1684958371/tacos/IMG_1877_nznjfb.jpg');
      background-size: 100% 100%;
      height: 100vh;
      width: 35vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 5vh;
    }
  
    .desktop-image-wrapper {
      margin-left: 12vw;
      margin-top: 5vh;
      max-height: 100vh;
      max-width: 25vw;
    }
  
    .desktop-image {
      width: 35vw;
      height: 50%;
    }
  
    .blurb {
      color: white;
      font-size: 2rem;
      font-style: bold;
      font-family: logoFont;
      padding: 1rem;
      
    }
  
    .slider {
      margin-top: 5vh;
      width: 30vw;
      height: 100%;
      overflow: hidden;
    }
      
    .slides {
      display: flex;
      flex-direction: row;
      width: 400%;
      animation: slide 14s ease-in infinite;
    }
      
    .slide img {
      width: 30vw;
      height: 100%;
    }
  
    .top-div {
      display: flex;
      width: 100vw;
      margin-left: 13.5vw;
      
    }
  
    .desktop-wrapper {
      display: flex;
    }
      
    @keyframes slide {
      0% { margin-left: 0;}
      21% {margin-left: 0;}
      25% {margin-left: -100%;}
      46% {margin-left: -100%;}
      50% {margin-left: -200%;}
      71% {margin-left: -200%;}
      75% {margin-left: -300%;}
      95% {margin-left: -300%;}
      100% {margin-left: 0;}
    }
  }
  
  a {
    text-decoration: none;
  }
  
  .about-text {
    min-height: 100vh;
  }